@font-face {
    font-family: "Fira Sans";
    src: url("./FiraSans-Regular.ttf");
}

$font: "Fira Sans", sans-serif;

.container {
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0 5em;
    font-family: $font;

    img {
        width: 40%;
        animation: rotate 10s linear infinite;
    }

    .title {
        font-size: 3em;
        margin: 0;
    }

    .form {
        width: 100%;

        .error{
            display: block;
            width: fit-content;
            margin: auto;
            color: red;
            margin-bottom: -1.5em;
            max-width: 80%;
            text-align: center;
        }

        input {
            display: block;
            font-family: $font;
            width: 75%;
            padding-left: 2em;
            height: 40px;
            border-radius: 25px;
            font-size: 1em;
            margin: 2em auto;
            outline: none;
            border: 1px solid #777777;

            &:disabled{
                cursor: not-allowed;
            }
        }

        button {
            display: block;
            font-family: $font;
            width: 82%;
            margin: auto;
            height: 45px;
            border-radius: 25px;
            font-size: 1em;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: rgb(0, 132, 255);
            color: #ffffff;
            box-shadow: 0 4px 1px rgba(0, 0, 0, 0.4);
            transition: transform 0.2s linear;

            &.danger{
                background-color: rgb(238, 20, 20);
            }

            &:hover {
                transform: translateY(5px);
            }

            &:disabled{
                &:hover {
                    transform: translateY(0);
                    cursor: not-allowed;
                }
            }

            .spinner{
                width: 2em;
                height: 2em;
                animation: rotate 1s linear infinite;
            }
        }
    }

    .info{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 2em;

        span{
            cursor: pointer;

            &.forget{
                a{
                    color: #ec1818;
                    text-decoration: none;
                }
            }
            &.sign{
                a{
                    color: #1849ec;
                    text-decoration: none;
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
